workflows/job-search-workflow.json
{
  "name": "job search",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "583434c2-591b-4b74-b37c-6b77262fbe31",
      "name": "Schedule Trigger",
      "retryOnFail": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        384
      ],
      "id": "fff71368-7644-45e9-979d-4a40858e3998",
      "name": "When clicking 'Execute workflow'",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5beac43-16c6-4c3b-9cbe-05b185956aba",
              "name": "Title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "5ca010b5-0bfc-440a-ba62-44878b153826",
              "name": "Company",
              "value": "={{ $json.company }}",
              "type": "string"
            },
            {
              "id": "a38b4158-62d7-4fd7-a8cc-26c67c21d4b3",
              "name": "Location",
              "value": "={{ $json.location }}",
              "type": "string"
            },
            {
              "id": "0fbd0cbd-4037-4fdb-9f5d-0f7fc07e8228",
              "name": "Link",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "a927d86d-dace-44a3-8d73-60b76187d2a9",
              "name": "Date Posted",
              "value": "={{ $json.posted_date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        192
      ],
      "id": "cddc90cf-ceb6-46b9-b13b-f5904052880a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $('Edit Fields').item.json.Company }}",
            "Location": "={{ $('Edit Fields').item.json.Location }}",
            "Score": "={{ $json.output.score }}",
            "Reason": "={{ $json.output.reason }}",
            "Link": "={{ $('Edit Fields').item.json.Link }}",
            "Date Posted": "={{ $('HTTP Request').item.json.items[0].posted_date }}",
            "Title": "={{ $('Edit Fields').item.json.Title }}"
          },
          "matchingColumns": [
            "Link"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date Posted",
              "displayName": "Date Posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date Applied",
              "displayName": "Date Applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Suggested Edits",
              "displayName": "Suggested Edits",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        192
      ],
      "id": "4b4bb7cd-829d-42cd-af12-0331a329328e",
      "name": "Append or update row in sheet"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"Evaluate this specific job listing against my CV provided in the system message:\n\nJOB TO ANALYZE:\n\nRole: {{ $json.Title }}\nCompany: {{ $json.Company }}\n\nREQUIRED OUTPUT:\nReturn a JSON object with:\n{\n\"score\": [number],\n\"reason\": \"[1-sentence explanation]\"\n}\"",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert recruiter. Below is my CV. Use this as the only reference for my skills, experience, and seniority when evaluating jobs.\n\nMY CV:{{ $('Get a document').first().json.content }}\nScore 10: Perfect match (Skills, Title, and Seniority all align).\n\nScore 5: Partial match (Has the right title but uses different tech, or vice versa).\n\nScore 1: No match (different field or way too senior/junior).\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        896,
        192
      ],
      "id": "d0328a65-edb3-465f-9c5a-fd641b5be699",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        912,
        416
      ],
      "id": "fb8249c5-1958-4589-8522-2b1aeefc6de4",
      "name": "OpenAI Chat Model",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"score\": 10,\n  \"reason\": \"This is a perfect match because the role requires Python and AWS, which are prominent on your CV.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1040,
        416
      ],
      "id": "a94e538e-d111-4781-a304-52f2dce99609",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://scraper:8000/scrape",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"site\": \"linkedin\",\n  \"query\": \"Graduate Technology\",\n  \"location\": \"United Kingdom\",\n  \"limit\": 10\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        192
      ],
      "id": "0ad5d6f5-3fe1-4533-ada5-66b21356b3a3",
      "name": "HTTP Request",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        448,
        192
      ],
      "id": "d87f9b63-336a-40b3-8b26-2a4c8415641c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": ""
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        0,
        192
      ],
      "id": "9df3f9f0-e65c-4154-bf9f-ca519af36e0e",
      "name": "Get a document"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c8bfc1ae-beb3-420f-9be3-f4082dd2407f",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "SOfEHhJc6sAucfww",
  "tags": []
}
